In [1]:
import spacy

In [2]:
nlp =spacy.load('en_core_web_sm')

In [3]:
# tokenizers in spacy

In [4]:
# pparagraph to sentences and then sentences to words

In [6]:
nlp2 = spacy.blank("en")

In [9]:
doc = nlp2("Dr. Strange loves pav bhaji of mumbai as it costs only 2$ per plate.")

In [10]:
for token in doc:
    print(token)

Dr.
Strange
loves
pav
bhaji
of
mumbai
as
it
costs
only
2
$
per
plate
.

In [12]:
doc[-1]

.

In [13]:
doc[0]

Dr.

In [17]:
doc2 = nlp2("Let's go to N.Y!")

In [18]:
for token in doc2:
    print(token)

Let
's
go
to
N.Y
!

In [19]:
type(doc2)

spacy.tokens.doc.Doc

In [20]:
doc3 = nlp("Tony gave two ddollar to Peter.")

In [21]:
for token in doc3:
    print(token)

Tony
gave
two
ddollar
to
Peter
.

In [26]:
token0 = doc3[0]
print(token0)

Tony

In [27]:
token0.is_alpha

True

In [28]:
token0.like_num

False

In [31]:
token2 = doc3[2]

token2.text

'two'

In [32]:
token2.like_num

True

In [37]:
with open('data.txt') as f:
    text = f.readlines()

text

['Certainly! Below is an example table with columns for name, birthdate, and email id, along with 10 dummy data entries:\n',
 '\n',
 '| Name         | Birthdate   | Email ID                        |\n',
 '|--------------|-------------|---------------------------------|\n',
 '| John Doe     | 1990-05-15  | john.doe@email.com              |\n',
 '| Jane Smith   | 1985-09-23  | jane.smith@email.com            |\n',
 '| Robert Brown | 1993-03-10  | robert.brown@email.com          |\n',
 '| Emily White  | 1988-11-02  | emily.white@email.com           |\n',
 '| Michael Lee  | 1995-07-18  | michael.lee@email.com           |\n',
 '| Sarah Johnson| 1982-12-07  | sarah.johnson@email.com         |\n',
 '| Alex Turner  | 1998-02-28  | alex.turner@email.com           |\n',
 '| Olivia Davis | 1991-06-20  | olivia.davis@email.com          |\n',
 '| William Chen | 1987-04-14  | william.chen@email.com          |\n',
 '| Emma Taylor  | 1994-08-05  | emma.taylor@email.com           |\n',
 '\n',
 'Feel free to replace the names, birthdates, and email IDs with your own data as needed.']

In [36]:
# is_alpha
# like_num
# is_digit
# is_currency
# is_punct

In [38]:
text = ' '.join(text)

'Certainly! Below is an example table with columns for name, birthdate, and email id, along with 10 dummy data entries:\n \n | Name         | Birthdate   | Email ID                        |\n |--------------|-------------|---------------------------------|\n | John Doe     | 1990-05-15  | john.doe@email.com              |\n | Jane Smith   | 1985-09-23  | jane.smith@email.com            |\n | Robert Brown | 1993-03-10  | robert.brown@email.com          |\n | Emily White  | 1988-11-02  | emily.white@email.com           |\n | Michael Lee  | 1995-07-18  | michael.lee@email.com           |\n | Sarah Johnson| 1982-12-07  | sarah.johnson@email.com         |\n | Alex Turner  | 1998-02-28  | alex.turner@email.com           |\n | Olivia Davis | 1991-06-20  | olivia.davis@email.com          |\n | William Chen | 1987-04-14  | william.chen@email.com          |\n | Emma Taylor  | 1994-08-05  | emma.taylor@email.com           |\n \n Feel free to replace the names, birthdates, and email IDs with your own data as needed.'

In [40]:
doc_test = nlp(text)

In [41]:
email_id = []
for token in doc_test:
    if token.like_email:
        email_id.append(token)

In [45]:
email_id

[john.doe@email.com,
 jane.smith@email.com,
 robert.brown@email.com,
 emily.white@email.com,
 michael.lee@email.com,
 sarah.johnson@email.com,
 alex.turner@email.com,
 olivia.davis@email.com,
 william.chen@email.com,
 emma.taylor@email.com]

In [46]:
# for hindi
nlp_hi = spacy.blank("hi")

In [47]:
doc = nlp("मेरा नाम शिवम है और मैं इंजीनियरिंग कॉलेज में हूँ")

In [48]:
for token in doc:
    print(token)

मेरा
नाम
शिवम
है
और
मैं
इंजीनियरिंग
कॉलेज
में
हूँ

In [49]:
# customization tokenization

In [50]:
doc5 = nlp("gimme double cheese extra large helathy pizza")

In [53]:
tokens = [token.text for token in doc5]

In [54]:
tokens

['gimme', 'double', 'cheese', 'extra', 'large', 'helathy', 'pizza']

In [55]:
# exercise

In [56]:
transactions = 'Tony gave a two $ to Peter , Bruce gave 500 $ to Steve'

In [57]:
doc_tran = nlp(transactions)

In [60]:
for token in doc_tran:
    if token.is_currency:
        print(f"{doc_tran[token.i-1]} {token} was transacted")

two $ was transacted
500 $ was transacted